
logging:
    level:
        org:
            hibernate:
                SQL: DEBUG
                type:
                    descriptor:
                        sql:
                            BasicBinder: TRACE
server:
    port: 8081
spring:
    datasource:
        password: ''
        url: jdbc:mysql://localhost:3306/my_app_db
        username: root
    jackson:
        serialization:
            write_dates_as_timestamps: false
    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
              format_sql: true
                 

    mail:
        host: smtp.gmail.com
        password: yrcwhcqigacrldxp
        port: 587
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true
        username: moundherj@gmail.com
    servlet:
        multipart:
            max-file-size: 5MB


security:
      oauth2:
        client:
          registration:
            google:
              clientId: 681209312875-drrb3j1rf3unkqid6oqukdk4pmhk7q5t.apps.googleusercontent.com
              clientSecret: az3M2Q7Mak9CJxAFT4AcLfpu
              redirectUri: "http://localhost:8081/oauth2/callback/{registrationId}"
              scope:
                - email
                - profile
            facebook:
              clientId: 966540550860555
              clientSecret: 61c77606c85df76f63779eb6695dfac4
              redirectUri: "http://localhost:8081/oauth2/callback/{registrationId}" # Note that facebook now mandates the use of https redirect URIs, so make sure your app supports https in production
              scope:
                - email
                - public_profile
            github:
              clientId: d3e47fc2ddd966fa4352
              clientSecret: 3bc0f6b8332f93076354c2a5bada2f5a05aea60d
              redirectUri: "http://localhost:8081//oauth2/callback/{registrationId}"
              scope:
                - user:email
                - read:user
          provider:
            facebook:
              authorizationUri: https://www.facebook.com/v3.0/dialog/oauth
              tokenUri: https://graph.facebook.com/v3.0/oauth/access_token
              userInfoUri: https://graph.facebook.com/v3.0/me?fields=id,first_name,middle_name,last_name,name,email,verified,is_verified,picture.width(250).height(250)
app:
  auth:
    tokenSecret: 926D96C90030DD58429D2751AC1BDBBC
    tokenExpirationMsec: 864000000
  oauth2:
    # After successfully authenticating with the OAuth2 Provider,
    # we'll be generating an auth token for the user and sending the token to the
    # redirectUri mentioned by the frontend client in the /oauth2/authorize request.
    # We're not using cookies because they won't work well in mobile clients.
    authorizedRedirectUris:
      - http://localhost:4200/oauth2/redirect
      - myandroidapp://oauth2/redirect
      - myiosapp://oauth2/redirect










